/*CHECKOUT*/
.imgCheckout {
  height: 40vh;
  justify-content: center;
  align-items: center;

  img {
    height: 40vh;
  }
}

.graciasCompra {
  h2 {
    color: #ff6666;
    font-size: 3rem;
    font-weight: bold;
  }
  h3 {
    color: #1a292b;
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}
