.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: black;
  offset-block-end: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;

  .modal-title {
    color: black;
  }

  .modal-body {
    color: black;

    span {
      display: block;
      font-weight: 600;
    }
  }

  a {
    color: white;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    display: inline-block;
    margin: 0 15px;
  }
}
